workflows/Asistente Soporte RAG Local - Prueba Técnica - Facundo Demarco.json
{
  "name": "Asistente Soporte RAG Local - Prueba Técnica - Facundo Demarco",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1714e161-0d5c-4634-aa2c-fc9a2e839a1b",
      "name": "Webhook - Recibir pregunta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        240
      ],
      "webhookId": "f7cbe8f8-9b8f-4d1a-8c02-support-assistant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a51cfde-3306-40fd-9a6e-2d1bdfc0b001",
              "leftValue": "={{($json.body?.question ?? '').trim()}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2641d9cf-fb8c-4e09-ac0c-0c2f8502fc22",
      "name": "Validar pregunta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'La pregunta no puede estar vacía.' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "05cbec72-9bf3-491f-ac5b-3851455a85a6",
      "name": "Responder pregunta vacía",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ca5a-200-122-2-110.ngrok-free.app/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"question\":\"{{ $json.body.question }}\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "3dfba791-8a83-4758-beab-56b8de376e1c",
      "name": "Consultar API Python local",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, question: $('Webhook - Recibir pregunta').item.json.body.question, answer: $json.answer, sources: $json.sources ?? [] } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "791c5384-cf62-40c8-9926-7bfc39fc43cc",
      "name": "Responder éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'No se pudo consultar el asistente local.' } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "6a199449-6ed8-4bed-bbe5-fdaa647bb18e",
      "name": "Responder error API",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        336
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Recibir pregunta": {
      "main": [
        [
          {
            "node": "Validar pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar pregunta": {
      "main": [
        [
          {
            "node": "Consultar API Python local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder pregunta vacía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar API Python local": {
      "main": [
        [
          {
            "node": "Responder éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "21f87ae1-e929-4900-9050-0953eec13405",
  "meta": {
    "instanceId": "59b595b3963812c2c242856791ac4c137a5d63dfff1395ebb9c41d86ca58dd54"
  },
  "id": "I7Vg2wcFbjeP9UpL",
  "tags": []
}